* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.7) url("../images/amjith-s-NOY_FzRublM-unsplash.jpg") no-repeat center;
    background-size: cover;
}

.user-body{
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.7) url("../images/user_image.jpg") no-repeat center;
    background-size: cover;
}

#spin {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 10;
}

.body {
    min-height: 100%;
    width: 100%;
    font-size: 0.9rem;
    overflow-x: hidden;
}

.header {
    height: 3.8rem;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

img {
    position: absolute;
    left: 5px;
    width: 3rem;
    top: 0.5rem;
}

ul {
    display: flex;
    gap: 1rem;
}

ul li {
    display: inline;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div {
    margin-left: 4.5rem;
    display: flex;
    width: 50%;
}

#user {
    height: 2rem;
    width: 8rem;
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-right: 3rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.bnt-nav {
    background: transparent;
    color: white;
    outline: none;
    border: 2px solid white;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}

.content {
    min-height: 85vh;
    width: 100%;
    display: flex;
    color: white;
    justify-content: start;
    flex-direction: column;
}

.content-space {
    min-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card,
.soon,
.sec-del {
    height: 4rem;
    margin: 3px;
    width: 99%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    border-radius: 10px;
    position: relative;
    margin-bottom: 0.8rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.sec-list {
    margin-top: 1.5rem;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-del {
    overflow: hidden;
}

.sec-del:hover::after {
    opacity: 1;
}

.sec-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-del::after {
    opacity: 0;
    height: 100%;
    width: 100%;
    content: 'Delete';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in;
    background-color: rgba(255, 0, 0, 0.28);
}

.desc {
    color: white;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
}

.section {
    padding: 20px 10px;
}

footer {
    min-height: 3rem;
    font-weight: bold;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.floating-bnt {
    position: fixed;
    right: 3rem;
    bottom: 2rem;
    z-index: 8;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(5px);
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

/*--------------------- changes input field------------*/
#section {
    margin: 3px 3px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    color: white;
    border: none;
    outline: none;
    height: 3.1rem;
    padding: 5px;
    font-size: 1rem;
    text-indent: 5px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#section:focus {
    outline: none;
}

#description:focus {
    outline: none;
}

#description {
    font-size: 1rem;
    height: 2.5rem;
    padding: 5px;
    border: none;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    color: white;
    margin: 3px 3px;
}

.ql-toolbar {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    border: none;
    border-radius: 10px;
    margin: 0 0.2rem;
    margin-top: 0.2rem;
    outline: none;
}

.ql-toolbar.ql-snow {
    border: none;
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff;
}

.ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}

.ql-editor.ql-blank::before {
    color: white;
}

#code {
    font-size: 1rem;
    height: 35rem;
    padding: 5px;
    margin: 3px 3px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    color: white;
}

option {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.7);
}

.content-input {
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content-space-input {
    min-height: 40rem;
    min-width: 55rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#submit {
    width: 5rem;
    height: 2rem;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.icon-edit::before{
    font-size: 1rem;
    position: absolute;
    right: 5.5rem;
    bottom: 1.5rem;
    color: white;
    height: 1rem;
    width: 2rem;
    text-align: center;
    z-index: 5;
}

.icon-del {
    font-size: 1rem;
    position: absolute;
    right: 3rem;
    bottom: 1.5rem;
    color: red;
    height: 1rem;
    width: 2rem;
    text-align: center;
    z-index: 5;
}


@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

#spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 8px rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.876);
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}